@charset "UTF-8";

body {
background-image: url("../images/marine-bg.jpg");
}

h1, h2, h3 {
font-family: 'Berkshire Swash', cursive;
}

h1{
  font-size: 5em;
}

h4, h5, h6{
  font-family: sans-serif;
}

#header{
  padding-top: 1em;
}

hr{
  background-color: black;
}

.container{
  width: 75%;
  height: 800px;
  background-color: white;
  opacity: 0.7;
}


.questions {
  margin-top: 1.5em;
}

 #startBtn{
  margin-top: 150px;
 }


footer {
  height: 75px;
  background-color: #7FFFD4;
}

.footer-text{
  padding-top: 25px;
}
