@charset "UTF-8";

body {
  position: relative;
  z-index: 1;
  background-color: white;
}

body:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -1;
  background: url("../images/marine-bg.jpg") fixed;
  background-size: cover;
}

h1{
font-family: 'Berkshire Swash', cursive;
opacity: 1;
}

h1 {
  font-size: 5em;
}

h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  opacity: 1;
}

#header {
  padding-top: 1em;
  padding-bottom: .5em;
}

#startBtn{
  padding-top: 2.75em;
  cursor: pointer;
}

#startBtn:hover {
color: Aqua;
}

.answerList div:hover {
color: Aqua;
cursor: pointer;
}

#startOverBtn:hover {
color: Aqua;
cursor: pointer;
}


#game {
  height: 600px;
  background-color: white;
  border: 10px solid #00FFFF;
}

#game-content {
  padding-top: 2.5em;
}


footer {
  height: 200px;
}

#footer-text {
  padding-top: 5em;
}
